table {
  //border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #23aedd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #b0f8ff;
}
.rcorners1 {
  border-radius: 4px;
  padding: 4px;
}
.rcorners2 {
  border-radius: 10px;
  background: #e1ffc0;
  padding: 10px;
}
/* From the tutorial, HeroesComponent's private style */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #c5edf0;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: .1em;
}
.heroes li.selected {
  background-color: #23aedd;
  color: white;
}
.heroes li.selected:hover {
  background-color: #380599;
  color: white;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: #380599;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #e1ffc0;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
