table {
  //border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #23aedd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #b0f8ff;
}
.rcorners1 {
  border-radius: 4px;
  padding: 4px;
}
